<h1>RailsBridgeCorp Open Jobs</h1>

<table>
    <thead>
        <th>Job Title</th>
        <th>Job Description</th>
        <th>More Information</th>
    </thead>
    <% @jobs.each do |job| %>
        <tr>
        <td><%= job.title %></td>
        <td><%= job.description %></td>
        <td><h5><%= link_to "Show Posting", job_path(job)%></h5></td>
        </tr>
    <% end %>
</table>